<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzi.mapper.TSysConfigMapper">
  <resultMap id="BaseResultMap" type="com.liangzi.pojo.TSysConfig">
    <id column="cfg_id" jdbcType="BIGINT" property="cfgId" />
    <result column="cfg_cate" jdbcType="BIGINT" property="cfgCate" />
    <result column="cfg_code" jdbcType="VARCHAR" property="cfgCode" />
    <result column="cfg_name" jdbcType="VARCHAR" property="cfgName" />
    <result column="cfg_value" jdbcType="VARCHAR" property="cfgValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cfg_id, cfg_cate, cfg_code, cfg_name, cfg_value, create_time, update_time, is_valid
  </sql>
  <select id="selectByExample" parameterType="com.liangzi.pojo.TSysConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_config
    where cfg_id = #{cfgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_config
    where cfg_id = #{cfgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.liangzi.pojo.TSysConfigExample">
    delete from t_sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liangzi.pojo.TSysConfig">
    insert into t_sys_config (cfg_id, cfg_cate, cfg_code, 
      cfg_name, cfg_value, create_time, 
      update_time, is_valid)
    values (#{cfgId,jdbcType=BIGINT}, #{cfgCate,jdbcType=BIGINT}, #{cfgCode,jdbcType=VARCHAR}, 
      #{cfgName,jdbcType=VARCHAR}, #{cfgValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.liangzi.pojo.TSysConfig">
    insert into t_sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cfgId != null">
        cfg_id,
      </if>
      <if test="cfgCate != null">
        cfg_cate,
      </if>
      <if test="cfgCode != null">
        cfg_code,
      </if>
      <if test="cfgName != null">
        cfg_name,
      </if>
      <if test="cfgValue != null">
        cfg_value,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cfgId != null">
        #{cfgId,jdbcType=BIGINT},
      </if>
      <if test="cfgCate != null">
        #{cfgCate,jdbcType=BIGINT},
      </if>
      <if test="cfgCode != null">
        #{cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgName != null">
        #{cfgName,jdbcType=VARCHAR},
      </if>
      <if test="cfgValue != null">
        #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liangzi.pojo.TSysConfigExample" resultType="java.lang.Long">
    select count(*) from t_sys_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_config
    <set>
      <if test="record.cfgId != null">
        cfg_id = #{record.cfgId,jdbcType=BIGINT},
      </if>
      <if test="record.cfgCate != null">
        cfg_cate = #{record.cfgCate,jdbcType=BIGINT},
      </if>
      <if test="record.cfgCode != null">
        cfg_code = #{record.cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgName != null">
        cfg_name = #{record.cfgName,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgValue != null">
        cfg_value = #{record.cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_config
    set cfg_id = #{record.cfgId,jdbcType=BIGINT},
      cfg_cate = #{record.cfgCate,jdbcType=BIGINT},
      cfg_code = #{record.cfgCode,jdbcType=VARCHAR},
      cfg_name = #{record.cfgName,jdbcType=VARCHAR},
      cfg_value = #{record.cfgValue,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_valid = #{record.isValid,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liangzi.pojo.TSysConfig">
    update t_sys_config
    <set>
      <if test="cfgCate != null">
        cfg_cate = #{cfgCate,jdbcType=BIGINT},
      </if>
      <if test="cfgCode != null">
        cfg_code = #{cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgName != null">
        cfg_name = #{cfgName,jdbcType=VARCHAR},
      </if>
      <if test="cfgValue != null">
        cfg_value = #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
    </set>
    where cfg_id = #{cfgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liangzi.pojo.TSysConfig">
    update t_sys_config
    set cfg_cate = #{cfgCate,jdbcType=BIGINT},
      cfg_code = #{cfgCode,jdbcType=VARCHAR},
      cfg_name = #{cfgName,jdbcType=VARCHAR},
      cfg_value = #{cfgValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=TINYINT}
    where cfg_id = #{cfgId,jdbcType=BIGINT}
  </update>
</mapper>